<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 屏幕宽度自适应，完全不缩放 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/gallery/img/favicon.ico" type="image/x-icon">
    <title th:text="${blogName}">文章</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/hover-button.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <link rel="stylesheet" href="/static/toastr/toastr.css"/>
    <link rel="stylesheet" href="/static/css/nav-index.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/loading.js"></script>
    <script src="/static/toastr/toastr.min.js"></script>


    <script type="text/javascript" src="/static/js/costomJs.js"></script>
    <script>
        // 初始化弹窗样式
        toastr.options = {
            positionClass: "toast-top-center",
        };
    </script>
</head>
<body>
<!--loading-->
<div class="loading_bg">
    <div class="jiazai_div">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
    </div>
</div>

<div id="container" class="container">
    <section class="main">
        <div class="bg">
            <!--顶部导航-->
            <div th:replace="index/common/nav :: nav"></div>

            <!--文章主体-->
            <div th:if="${code} eq 200" class="container" style="padding: 0">
                <div th:each="article:${article}" class="box-shadow" style="background: #fff;overflow: hidden;zoom: 1;border-radius: 15px">
                    <div style="padding: 25px;margin: 25px;border-radius: 25px">
                        <!--标题-->
                        <h3><span th:text="${article.title}"></span>
                        </h3>

                        <div style="width: 100%;margin: 5px 0">
                            <span style="line-height:40px!important;margin-left: 10px">
                                <span th:text="${article.userNickname}"></span>
                                <i class="glyphicon glyphicon-user"></i>
                                 |
                                <span th:text="${#dates.format(article.createTime, 'yyyy/MM/dd')}"></span>
                                <i class="glyphicon glyphicon-calendar"></i>
                                 |&nbsp;
                                <a target="_blank" class="un" th:href="'/classify/'+${article.classificationName}"><span th:text="${article.classificationName}"></span></a>
                                <i class="glyphicon glyphicon-folder-open"></i>
                                 |
                                <span th:text="${article.views}"></span>
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span th:if="${codeLabel} eq 404" style="margin-left:10px">
                                    暂无标签
                                </span>
                                <span th:if="${codeLabel} ne 404" style="margin-left:10px">
                                    <span>Tag:</span>
                                    <a th:each="label:${labels}" class="un" th:href="'/tag/'+${label.name}" target="_blank"><span style="margin:0 5px" th:text="${label.name}">sd</span></a>
                                </span>
                            </span>
                        </div>
                        <hr/>
                        <!--文章内容-->
                        <div th:utext="${article.text}" id="article" style="margin-botton: 50px;">
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${code} eq 404" class="text-center" style="margin-top: 30px;font-size: 20px">
                <div clas="row">您查看的文章不存在</div>
                <div clas="row" >
                    <div th:replace="index/common/sails :: sails"></div>
                </div>
            </div>
            <!--评论主体-->
            <div th:if="${code} eq 200" id="comments" class="container" th:fragment="comments" style="margin-top:10px;padding: 0">
                <div style="background: #fff;border-radius: 15px;overflow: hidden;zoom: 1;margin-left: 0" class="box-shadow">
                    <!-- 评论列表 -->
                    <div style="margin: 20px">
                        <!--折叠面板组-->
                        <div class="panel-group" id="accordion">
                            <div id="commentC">
                                <div class="row" style="padding: 0 15px">
                                    <textarea class="commentsText" placeholder="回复文章内容......"></textarea>
                                </div>
                                <span th:if="${userId} eq '0'">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <input class="commentsInfo" type="text" placeholder="昵称">
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <input class="commentsInfo" type="email" placeholder="邮箱">
                                        </div>
                                    </div>
                                </span>
                                <div name="0" class="row" style="text-align: right">
                                    <span th:if="${code} eq '200'">
                                        <span style="font-size: 20px;font-weight: 500" th:text="${userNickname}"></span>
                                    </span>
                                    <button onclick="commentRelease(this)"  th:name="${userId}"  class="commentsButton">发布</button>
                                </div>
                            </div>
                            <div th:if="${isComments} eq 0" style="margin: 20px 0;height: 100px;background-color: #F1F3F6;border-radius: .25rem;line-height: 80px;text-align: center; ">
                                <span style="font-size: 20px;word-spacing:20%">
                                    暂 无 评 论
                                </span>
                            </div>
                            <ul th:if="${isComments} ne 0">
                                <li  th:each="comment:${comments}" class="comments-li">
                                    <div class="row">
                                        <span style="margin-left: 20px;font-size: 20px;font-weight: 300;margin-right: 10px" th:text="${comment.nickname}"></span><small style="color: #b5b5b5"><span th:text="${#dates.format(comment.createTime, 'yyyy/MM/dd HH:mm')}"></span></small>
                                    </div>
                                    <div class="row span" >
                                        <span th:text="${comment.text}">
                                        </span>
                                        <span class="panel panel-default">
                                            <span class="panel-heading" role="tab" th:id="'hui' + ${comment.id}">
                                                <a class="collapsed panel-title un"
                                                   data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   th:href="'#shen' + ${comment.id}"
                                                   style="float: right;font-size: 14px;color: #b5b5b5">回复</a>
                                            </span>
                                            <div th:id="'shen' + ${comment.id}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <div class="row" style="padding: 0 15px">
                                                        <textarea class="commentsText" placeholder="回复此评论"></textarea>
                                                    </div>
                                                    <span th:if="${userId} eq '0'">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-xs-12">
                                                                <input class="commentsInfo" type="text" placeholder="昵称">
                                                            </div>
                                                            <div class="col-sm-6 col-xs-12">
                                                                <input class="commentsInfo" type="email" placeholder="邮箱">
                                                            </div>
                                                        </div>
                                                    </span>
                                                    <div th:name="${comment.id}" class="row" style="text-align: right">
                                                        <span th:if="${code} eq '200'">
                                                            <span style="font-size: 20px;font-weight: 500" th:text="${userNickname}"></span>
                                                        </span>
                                                        <button onclick="commentRelease(this)"  th:name="${userId}"  class="commentsButton">发布</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <ul>
                                        <li th:each="childrenComment:${comment.children}" class="comments-li-li">
                                            <div class="row">
                                                <span style="margin-left: 20px;margin-right:10px;font-size: 20px;font-weight: 300" th:text="${childrenComment.nickname}"></span><small style="color: #b5b5b5"><span th:text="${#dates.format(childrenComment.createTime, 'yyyy/MM/dd HH:mm')}"></span></small>
                                                <span th:if="${childrenComment.reply} ne ${comment.id}">
                                                    <span style="font-size: 12px">&nbsp;&nbsp;回复@</span><span th:text="${childrenComment.replyUserNickname}"></span>
                                                </span>
                                            </div>
                                            <div class="row span" >
                                                <span th:text="${childrenComment.text}">
                                                </span>
                                                <span class="panel panel-default">
                                                    <span class="panel-heading" role="tab" th:id="'hui' + ${childrenComment.id}">
                                                        <a class="collapsed panel-title un"
                                                                data-toggle="collapse"
                                                                data-parent="#accordion"
                                                                th:href="'#shen' + ${childrenComment.id}"
                                                                style="float: right;font-size: 14px;color: #b5b5b5">回复</a>
                                                    </span>
                                                    <div th:id="'shen' + ${childrenComment.id}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <div class="row" style="padding: 0 15px">
                                                                <textarea class="commentsText" placeholder="回复此评论"></textarea>
                                                            </div>
                                                            <span th:if="${userId} eq '0'">
                                                                <div class="row">
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <input class="commentsInfo" type="text" placeholder="昵称">
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <input class="commentsInfo" type="email" placeholder="邮箱">
                                                                    </div>
                                                                </div>
                                                            </span>
                                                            <div  th:name="${childrenComment.id}" class="row" style="text-align: right">
                                                                <span th:if="${code} eq '200'">
                                                                    <span style="font-size: 20px;font-weight: 500" th:text="${userNickname}"></span>
                                                                </span>
                                                                <button onclick="commentRelease(this)"  th:name="${userId}"  class="commentsButton">发布</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--悬浮按钮-->
            <div th:if="${code} eq 200" class="hoverButton hideButton" style="display:none">
                <button id="top">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </button>
            </div>
            <div th:if="${code} eq 200" class="hoverButton" style="top: 85%;left: 90%">
                <button id="toCommentC" type="button">
                    <!--评论内容-->
                    <i class="glyphicon glyphicon-comment"></i>
                </button>
            </div>

        </div>
    </section>
    <!--尾部版权信息-->
    <div th:replace="index/common/nav-tail :: nav-tail"></div>
</div>
</body>
<script>
    // 评论区更新
    let url =  window.location.pathname
    let articleId = url.substr(url.lastIndexOf('/')+1)
    var accessUrl = '/article/comments/' + articleId;
    $('#comments').load(accessUrl);

    loadNav();
    function loadNav(){
        $('#nav-index').load('/index/nav');
        $('#nav-tail').load('/index/nav/tail');
    }

    // 页面加载不完全时的遮罩
    document.onreadystatechange = subSomething;//当页面加载状态改变的时候执行这个方法.
    function subSomething() {
        if(document.readyState == "complete"){ //当页面加载状态为完全结束时进入
            $(".loading_bg").fadeOut(200);      //你要做的操作。
        }
    }


    // 回到顶部  有简单的动画,由快到慢的 滑动到顶部
    $('#top').click(function (){
        // window.scrollTo(0,0)
        $("html,body").animate({scrollTop:0},500);
    })
    $('#toCommentC').click(function (){
        // window.scrollTo(0,0)
        $("html,body").animate({scrollTop: $("#commentC").offset().top}, 500);
    })



    // 当滚动条大于离顶部 多少距离后  显示 某div模块,
    // 向上滚动时  隐藏   向下滚动 显示
    $(window).bind("scroll", function () {
        var sTop = $(window).scrollTop();
        var sTop = parseInt(sTop);
        if (sTop >= 200) {
            if (!$(".hideButton").is(":visible")) {
                try {
                    $(".hideButton").slideDown();
                } catch (e) {
                    $(".hideButton").show();
                }
            }
        }
        else {
            if ($(".hideButton").is(":visible")) {
                try {
                    $(".hideButton").slideUp();
                } catch (e) {
                    $(".hideButton").hide();
                }
            }
        }
    });

    // 发布评论
    function commentRelease(obj){
        let comment = $(obj).parent().parent().find("div:first").find("textarea:first").val()
        if (comment === ''){
            // 判断评论内容是否为空
            toastr.warning("评论内容不可为空","提示:")
            return
        }else {
            let userId = $(obj).attr("name")
            let nickname = $(obj).parent().parent().find("span > div").find("div:first").find("input").val()
            let email = $(obj).parent().parent().find("span > div").find("div:last").find("input").val()

            if (userId === '0') {
                if (nickname === "") {
                    toastr.warning("昵称不可为空", "提示")
                    return;
                } else if (email === "") {
                    toastr.warning("邮箱不可为空", "提示")
                    return;
                }else if (!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)){
                    toastr.warning("邮箱格式不正确", "提示")
                    return;
                }
            }
            // 用户登录的情况
            // 文章id
            let url =  window.location.pathname
            let articleId = url.substr(url.lastIndexOf('/')+1)
            // 评论id
            let commentId = $(obj).parent().attr("name")


            let form = new FormData
            // userId是代表的谁评论的这个id
            // 用户信息
            form.append("nickname",nickname)
            form.append("email",email)
            // 评论信息
            form.append("userId",userId)
            form.append("articleId",articleId)
            form.append("text",comment)
            // 这个代表的是评论谁的评论(0代表文章)
            form.append("reply",commentId)
            costomAjax('/article/comment',form,function(){
                $('#comments').load(accessUrl);
            })
        }
    }


</script>
<style>
    /*图片简单配置*/
    #article img {
        max-width: 90%;
    }
    /*评论区的样式配置*/
    .comments-li-li,
    .comments-li {
        list-style:none;
        padding: 10px 10px;

        box-sizing: content-box;
    }
    .comments-li div h5 {
        margin: 0 0 0 20px;
    }
    .comments-li-li {
        border-radius: 0 5px 0 0;
        box-shadow: 1px 4px 5px 0 rgba(0,0,0,0.1) ;
        margin-left: 20px;
    }

    .comments-li {
        box-shadow: 2px 0 1px 0 rgba(0,0,0,0.3) inset;
        width: 92%;
    }

    /*评论区中每个人的评论内容基本样式*/
    .span {
        /*border: 1px solid #3f3f3f;*/
        border-radius: 10px;
        /*width: 100%;*/
        padding: 0 0 0 20px;
        margin: 20px 10px 10px 10px;
    }

    /*将折叠菜单所在位置的背景颜色及线条颜色设置为白色()就看不到了*/
    .panel-default>.panel-heading {
        background-color: #ffffff!important;
        border-color: #ffffff;
    }
    /*去除折叠菜单的内边距*/
    .panel-heading {
        padding: 0 0;
    }

    /*去除折叠菜单的边框线条*/
    .panel {
        border: none;
    }
    /*去除开启关闭折叠菜单 和 内容之间的线*/
    .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
         border-top: none;
    }

    .commentsText,.commentsInfo{
        background-color: #F1F3F6;
        padding:6px 12px;
        border-radius: .25rem;
        resize:vertical;
        border: 1px solid #f1f3f6;
        outline:none
     }
    .commentsText{
        width: 100%;
    }
    .commentsInfo{
        width: 100%;
        margin-bottom: 5px;
    }

    .commentsButton{
        width: 40px;
        height: 20px;
        border: 1px solid #f1f3f6;
        /*去除点击之后出现黑框的样式*/
        outline:none;
        margin-right: 15px;
        border-radius: .25rem;
    }

    /*点击发布之后有个深色反应*/
    .commentsButton:active {
        /*background: #8C0000;*/
        border-top: 1px solid #9cc;
        background: #9cc;
        box-shadow: 0px 1px 1px #9cc inset, 1px 0px 1px #858585 inset;
    }


    #article img {
        display: inline-block!important;
        height: auto!important;
        max-width: 100%!important;
    }


    /*文章不存在显示的图形*/
    #Complete {
        fill: none;
        stroke: #C4D4D9;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    #Sails {
        fill: rgba(33,31,36,0.6);
    }
    #Smoke1, #Smoke2 {
        opacity: 0;
    }

</style>

</html>
