<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.webra.mapper.CloudStorageMapper">
    <resultMap type="CloudStorage" id="cloudStorageResult">
        <id     property="id"                   column="id"                     />
        <result property="name"                 column="name"                   />
        <result property="domainNameAgreement"  column="domain_name_agreement"  />
        <result property="domainName"           column="domain_name"            />
        <result property="ak"                   column="ak"                     />
        <result property="sk"                   column="sk"                     />
        <result property="bucket"               column="bucket"                 />
        <result property="regional"             column="regional"               />
        <result property="directory"            column="directory"              />
        <result property="offOn"                column="off_on"                 />
    </resultMap>

    <update id="updCloudStorage">
        update `cloud_storage`
        <set>
            <if test="domainNameAgreement!='' and domainNameAgreement!=null">domain_name_agreement=#{domainNameAgreement},</if>
            <if test="domainName!='' and domainName!=null">domain_name=#{domainName},</if>
            <if test="ak!='' and ak!=null">ak=#{ak},</if>
            <if test="sk!='' and sk!=null">sk=#{sk},</if>
            <if test="bucket!='' and bucket!=null">bucket=#{bucket},</if>
            <if test="regional!='' and regional!=null">regional=#{regional},</if>
            <if test="directory!='' and directory!=null">directory=#{directory},</if>
            <if test="offOn!=null">off_on=#{offOn}</if>
        </set>
        where id = #{id} ;
    </update>

    <select id="queCloudStorageAll" resultMap="cloudStorageResult">
        select * from `cloud_storage`;
    </select>



</mapper>
