<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.webra.mapper.SetMapper">
    <resultMap id="setResult" type="Set">
        <id     property="id"                       column="id"                      />
        <result property="indexArticleNumber"       column="index_article_number"    />
        <result property="searchArticleNumber"      column="search_article_number"   />
        <result property="labelArticleNumber"       column="label_article_number"    />
        <result property="classifyArticleNumber"    column="classify_article_number" />
        <result property="commentsOffOn"            column="comments_off_on"         />

        <result property="emailOffOn"               column="email_off_on"            />
        <result property="smtpAddress"              column="smtp_address"            />
        <result property="smtpAgreement"            column="smtp_agreement"          />
        <result property="smtpSsl"                  column="smtp_ssl"                />
        <result property="smtpUsername"             column="smtp_username"           />
        <result property="smtpPassword"             column="smtp_password"           />
        <result property="smtpNickname"             column="smtp_nickname"           />
    </resultMap>

    <update id="updSet" parameterType="Set">
        update `set`
        <set>
            <if test="indexArticleNumber!=null">index_article_number=#{indexArticleNumber},</if>
            <if test="searchArticleNumber!=null">search_article_number=#{searchArticleNumber},</if>
            <if test="labelArticleNumber!=null">label_article_number=#{labelArticleNumber},</if>
            <if test="classifyArticleNumber!=null">classify_article_number=#{classifyArticleNumber},</if>
            <if test="commentsOffOn!=null">comments_off_on=#{commentsOffOn},</if>

            <if test="emailOffOn!=null">email_off_on=#{emailOffOn},</if>
            <if test="smtpAddress!=null and smtpAddress!=''">smtp_address=#{smtpAddress},</if>
            <if test="smtpAgreement != null and smtpAgreement != ''">smtp_agreement=#{smtpAgreement},</if>
            <if test="smtpSsl != null and smtpSsl != ''">smtp_ssl=#{smtpSsl},</if>
            <if test="smtpUsername != null and smtpUsername != ''">smtp_username=#{smtpUsername},</if>
            <if test="smtpPassword != null and smtpPassword != ''">smtp_password=#{smtpPassword},</if>
            <if test="smtpNickname != null and smtpNickname != ''">smtp_nickname=#{smtpNickname}</if>
        </set>
         where id=1;
    </update>

    <select id="queSet" resultMap="setResult">
        select * from `set`
    </select>


</mapper>
