<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.webra.mapper.WebsiteMapper">
    <resultMap type="Website" id="websiteResult">
        <id     property="id"       column="id"     />
        <result property="name"     column="name"   />
        <result property="address"  column="address"/>
        <result property="logo"     column="logo"   />
        <result property="favicon"  column="favicon"/>
        <result property="info"     column="info"   />
    </resultMap>

    <update id="updWebsite" parameterType="Website">
        update website
        <set>
            <if test="name!='' and name!=null">`name`=#{name},</if>
            <if test="favicon!='' and favicon!=null">favicon=#{favicon},</if>
            <if test="logo!='' and logo!=null">logo=#{logo},</if>
            <if test="address!='' and address!=null">address=#{address},</if>
            <if test="info!='' and info!=null">info=#{info}</if>
        </set>
         where id=20210101;
    </update>

    <select id="queWebsiteAll" resultMap="websiteResult">
        select * from website limit 1;
    </select>

</mapper>
