<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>nav</title>
</head>
<body>
<div  th:fragment="nav-404">
    <div  class="navbar navbar-default navbar-fixed-top " style="background: #ffffff" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-left: 20px">

                <!--logo-->
                <a href="/" class="navbar-left">
                    <img src="/static/images/fav/logo.png" style="width: 40px;margin-top: 5px;">
                </a>
                <a href="/system/dashboard" class="navbar-brand visible-md visible-lg">
                    Blog_System
                </a>
                <!--小屏时  导航栏的缩放 的 按钮 -->
                <button type="button" class="navbar-toggle" style="float: left" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!--导航栏主体-->
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav" style="margin-left: 2%">
                    <li>
                        <a href="/">
                            <i class="glyphicon glyphicon-dashboard"></i>
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="/system/dashboard">
                            <i class="glyphicon glyphicon-dashboard"></i>
                            后台仪表页
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
