<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页管理</title>
    <link rel="shortcut icon" href="/static/images/fav/sysFav.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/toastr/toastr.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/loading.js"></script>
    <script src="/static/toastr/toastr.min.js"></script>

    <script type="text/javascript" src="/static/js/costomJs.js"></script>
    <script>
        // 初始化弹窗样式
        toastr.options = {
            positionClass: "toast-top-center",
        };
    </script>
</head>
<body>
<div id="container" class="container">
    <div class="main">
        <div id="bg">
            <!--导航栏-->
            <div th:replace="/system/common/nav :: nav"></div>
            <div style="margin-top: 60px">
                <ol class="breadcrumb" style="background: #ffffff;">
                    <li><a href="/system/dashboard">仪表</a></li>
                    <li class="active">首页管理</li>
                </ol>
            </div>
            <!--主体-->
            <div style="background:rgba(255,255,255,0.5);border-radius: 5px;margin-bottom: 20px">
                <ul class="nav nav-tabs">
                    <li id="li-1" role="presentation" class="active">
                        <a href="#rotograms">轮播图控制</a>
                    </li>
                    <li id="li-2" role="presentation">
                        <a href="#tagCloud">标签云控制</a>
                    </li>
                </ul>
            </div>

            <div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!--轮播图-->
                    <div role="tabpanel" class="tab-pane fade in active" id="rotograms">
                        <div  style="background: #ffffff;padding: 20px 20px;border-radius: 5px;">
                            <div class="row">
                                <input onclick="getArticle(1)" type="button" class="btn btn-info" value="新增" style="margin-left: 20px" data-toggle="modal" data-target="#addArticle">
                                <!--对话框-->
                                <div class="modal fade bs-example-modal-lg" id="addArticle" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header" style="display: flex;justify-content: center;align-items: center;padding-top:20px">
                                                <input id="search" type="text" style="max-width: 200px"  class="form-control" placeholder="搜索文章...">
                                                <button onclick="getArticle(1)" class="btn btn-default" type="button">搜索</button>
                                            </div>
                                            <div id="seaArticle" class="modal-body" th:fragment="seaArticle">
                                                <div class="table-responsive" style="margin-left: 5px">
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <td style="display: none">id</td>
                                                            <td>标题</td>
                                                            <td>操作</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="article:${articles}">
                                                            <td style="display: none"><span class="articleId" th:text="${article.id}"></span></td>
                                                            <td><span th:text="${article.title}">文章标题</span></td>
                                                            <td>
                                                                <a th:if="${article.rotograms} eq '2'" href="javascript:;" onclick="addArticle(this)">✚</a>
                                                                <a th:if="${article.rotograms} eq '1'" href="javascript:;" onclick="recoveryArticle(this)">✖</a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div style="display: flex;justify-content: center;align-items: center;padding-top:20px;font-size: 20px;user-select: none">
                                                        <span onclick="getPage(this)" style="cursor:pointer">⋘</span><span id="curr" th:text="${curr}" style="margin: 0 20px 0 40px">0</span>
                                                        /
                                                        <span id="count" th:text="${count}"style="margin: 0 40px 0 20px">0</span><span onclick="getPage(this)" style="cursor:pointer">⋙</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="button" class="btn btn-default" data-dismiss="modal" value="离开">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h4 style="float: right;margin-right:20px">提示:<small>轮播图最多五篇文章,若没有文章则展示随机图片</small></h4>
                            </div>
                            <div class="row table-responsive" style="margin-left: 5px;margin-top: 15px">
                                <table id="getRotograms" th:fragment="rotograms" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <td style="display: none">id</td>
                                        <td>标题</td>
                                        <td>分类</td>
                                        <td>评论</td>
                                        <td>访问</td>
                                        <td>操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="article:${articles}">
                                        <td style="display: none"><span th:text="${article.id}"></span></td>
                                        <td><span th:text="${article.title}">文章标题</span></td>
                                        <td><span th:text="${article.classificationName}" class="span-categories">文章分类</span></td>
                                        <td><span th:text="${article.comments}" class="badge span-comment">文章评论</span></td>
                                        <td><span th:text="${article.views}" class="badge span-access">文章访问</span></td>
                                        <td><a href="javascript:;" onclick="recoveryArticle(this)">✖</a></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div th:if="${code} eq 602" style="display: flex;justify-content: center;align-items: center;padding-top:20px;font-size: 20px;user-select: none">
                                                <small>目前还没有任何文章添加到轮播图中</small>
                                            </div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--标签云-->
                    <div role="tabpanel" class="tab-pane fade" id="tagCloud">
                        <div  style="background: #ffffff;padding: 20px 20px;border-radius: 5px;">
                            <div class="row">
                                <div class="col-sm-2 col-xs-2">
                                    <span style="float: right;margin-top:7px">显示个数:</span>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <input type="number" class="form-control" style="max-width: 200px" value="24">
                                    <small style="color: #a2a1a1">建议最大24个</small>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 col-xs-2">
                                        <span style="float: right;margin-top:7px">显示方法:</span>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="labelDisplayAlgorithms" value="0" checked>
                                            标签文章篇数由大到小
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="labelDisplayAlgorithms" value="1">
                                            标签串讲时间由近到远
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="labelDisplayAlgorithms" value="2">
                                            标签文章观看数由大到小
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="labelDisplayAlgorithms" value="3">
                                            标签文章评论数由大到小
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-4 col-xs-6 col-xs-offset-4">
                                    <button type="button" class="btn btn-info">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--尾部版权栏-->
    <div th:replace="/system/common/nav-tail :: nav-tail">
    </div>
</div>
<script>
    getRotograms();
    loadNav();
    // 导航栏请求
    function loadNav(){
        $('#nav-sys').load('/system/nav');
    }
    // 标签页更换
    $(function() {
        $('#li-1 a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
        $('#li-2 a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    })

    // 气泡框显示

    // 轮播图删除请求
    function recoveryArticle(obj){
        //1 获取该行id
        let articleId = $(obj).parent().parent().children(":first:first").text()
        //2 发送删除请求
        let form = new FormData
        form.append("add",false)
        form.append("articleId",articleId)

        costomAjax('/system/administration/index/add/rotograms',form,function (){
            getRotograms()
        })
    }


    // 输入框回车调用该方法
    $("#search").keypress(function (even) {
        if (even.which == 13) {
            getArticle(1);
        }
    })

    // 获得是轮播图的文章
    function getRotograms(){
        $("#getRotograms").load("/system/administration/index/rotograms")
    }

    /**
     * 发送请求获取文章
     @param curr 当前页
     */
    function getArticle(curr){
        // 获取输入框内容
        let sea = $('#search').val()
        // 发送请求
        let url = "/system/administration/index/article"
        $('#seaArticle').load(url,{
            sea: sea,
            curr: curr
        });
    }

    // 判断当前是否是第一页或者最后一页
    function getPage(obj){
        let curr = $(obj).parent().children("#curr").text()
        let count = $(obj).parent().children("#count").text()
        if($(obj).text() === '⋘'){
            if (curr <= 1){
                toastr.info("当前已经是第一页了哦~", "提示")
                return
            }
            curr = curr -1
        }else {
            if (curr >= count ){
                toastr.info("当前已经是最后一页了哦~", "提示")
                return
            }
            curr = curr +1
        }
        getArticle(curr)
    }

    // 将文章添加到轮播图
    function addArticle(obj){
        let articleId = $(obj).parent().parent().children(":first:first").text()
        let form = new FormData
        form.append("add",true)
        form.append("articleId",articleId)
        costomAjax('/system/administration/index/add/rotograms',form,function (){
            getRotograms()
        })
    }

</script>
<style>
    /*标签页样式*/
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        border: 0px!important;
    }
    .nav-tabs {
        border-bottom: 0px!important;
    }

    /*表格样式*/
    table tbody tr,
    table thead tr {
        /*height: 60px;*/
    }
    table tbody tr td,
    table thead tr td {

    }

    .table td /*设置表格文字左右和上下居中对齐*/
    {
        /*display:table-cell;*/
        /*vertical-align:middle;*/
    }
    /* 表格中的文章分类那一列的样式 */
    .span-categories{
        color: #00aeff;
        background: rgba(24,144,255,0.2);
        border-radius: 5px;
        padding: 2px 5px;
        border: 1px solid rgba(24,144,255,0.3);
        font-weight: lighter;
    }
    .span-comment,
    .span-access {
        color: #ffffff;
        padding: 5px;
    }
    .span-comment {
        background: #ec5d5a;
    }
    .span-access {
        background: #27efff;
    }

    /*按钮样式*/
    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: none;
        border-color: transparent; // 若是本身具有 border 请删除此属性
    box-shadow:none;
    }
</style>
</body>
</html>
