<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>友链管理</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/hover-button.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/loading.js"></script>
</head>
<body>
<div id="container" class="container">
    <div class="main">
        <div id="bg">
            <!--导航栏-->
            <div th:replace="/system/common/nav :: nav"></div>
            <div style="margin-top: 60px">
                <ol class="breadcrumb" style="background: #ffffff;">
                    <li><a href="/system/dashboard">仪表</a></li>
                    <li><a href="/system/article/article">所有文章</a></li>
                    <li class="active">编辑文章</li>
                </ol>
            </div>
            <!--主体-->
            <div style="height: 1000px;background: #ffffff;border-radius: 5px;padding: 20px">

            </div>


        </div>
    </div>

    <!--尾部版权栏-->
    <div th:replace="/system/common/nav-tail :: nav-tail">
    </div>
</div>


</body>
</html>
